.idea/
array_out/
data/rt_calcs/data/rt_counties*
penn_chime_scraping/
rsconnect/
*/.DS_Stone
.RData
.RHistory
data/gaussianProj/*
images/*
img/*
.DS_Store
seir-model/*.R
*.log
*/__pycache__/*
descriptions/*.docx
data/rt_calcs/data/linelist.csv
www/data/rt_calcs/data/linelist.csv